* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: #000000;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated; /* Fundamental para Chrome/Edge */
    image-rendering: crisp-edges; /* Fundamental para Firefox */
}

